<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
 
    <link rel="stylesheet" href="../../ink.css"> <!-- For testing only -->
 
    <style type="text/css">
     
      /* Ink styles go here in production */
     
    </style>
    <style type="text/css">
 
      /* Your custom styles go here */
 
    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
 
          <!--navigation-->
          <table class="row mail-navigation">
            <tbody>
              <tr>
                <td class="wrapper last">                        
                  <table class="twelve columns mail-navigation-menu">
                    <tbody>
                      <tr>
                        <td>
                          <ul>
                            <li>
                              <a href="www.octavejournal.com">
                              <img class="mail-navigation-title-area-image" src="../../assets/branding.png" alt="">
                              </a>
                            </li>
                            <li>
                              <a href="www.octavejournal.com">
                                <h1 class="mail-navigation-title-area-title"><span class="bold">Octave</span> Journal</h1>
                              </a>
                            </li> 
                            <li class="right">
                              <a href="www.octavejournal.com">
                                <h5 class="mail-navigation-login underline">login</h5>
                              </a>
                            </li>                                                     
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table><!--menu-->
                </td>
              </tr>
            </tbody>
          </table>
          <!--navigation-->
          
          <!-- issue title -->
          <table class="row mail-title">
            <tbody>
              <td class="wrapper last center">
                <table class="twelve columns">
                  <tbody>
                    <tr>
                      <td>
                        <h1 class="mail-issue-title">Lorem ipsum dolor sit amet.</h1>
                        <h5 class="mail-issue-date">April 2014</h5>
                      </td>                    
                    </tr>
                  </tbody>
                </table>
              </td>
            </tbody>
          </table>
          <!-- issue title -->

          <!-- issue intro -->
          <table class="row mail-intro">
            <tbody>
              <td class="wrapper last center">
                <table class="twelve columns">
                  <tbody>
                    <tr>
                      <td>
                        <!-- <img src="http://placehold.it/1000x650" alt="" /> -->
                      </td>                
                    </tr>
                    <tr>
                      <td>
                        <p class="mail-body">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sed, expedita, vel eveniet provident asperiores molestiae accusantium molestias nam quo odit ex distinctio facere quam rerum. Tempore, quaerat nobis quasi blanditiis doloremque cumque velit placeat quo consectetur minima excepturi vitae vel optio explicabo dicta reiciendis veniam fugiat sit labore aliquam quis vero porro nemo tenetur quae. Repudiandae, reiciendis officia deserunt animi adipisci alias veritatis error consequatur nobis rem. Ullam, eius, eos, iste sed pariatur et laboriosam aut animi molestiae doloribus in nihil facilis. Nesciunt, totam, eos, harum, esse porro necessitatibus facere in tempora nobis doloremque minus consectetur illo officiis hic.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tbody>
          </table>
          <!-- issue intro --> 

          <!-- login -->
          <table class="twelve columns">
            <tbody>
              <tr>
                <td>
                  <table class="mail-login">
                    <tr>
                      <td>
                        <a href="www.octavejournal.com">
                          <p class="mail-login-text underline">read the issue</p>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- login -->

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
