//style from octavejournal

.alpha {
    padding-left: 0px !important;
}

.beta {
  padding-right: 0px !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.underline {
  border-bottom: $underline;
}

.bold {
  font-weight: $heavy-text;
}

.navigation-title-area-title {
  display: inline-block;
    margin-top: 0.25rem;
}


.issue {
    &-title {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: $body-font;
    font-weight: $heavy-text;
    a, a:hover {
      color: $black;
    }
  }
  &-date {
    font-size: 1.5rem;
    font-weight: $light-text;
    line-height: 2rem;
    text-align: center;
    color: $dark-gray;
  }
  &-contents-meta {
    color: $dark-gray;
    a {
      color: $light-gray;
      font-family: $body-font;
    }
  }
}

.articles {
  &-article-teaser {
    font-family: $text-font;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  &-article-title {
  a {
      font-family: $body-font;
      color: $black;
    }
}
}


//styles for ink framework

.mail {
  
  &-navigation {
    border: none;
    margin-bottom: 2rem;
    margin-top: 0.75rem;
    
    ul {
      padding-left: 0;
    }

    &-menu {
      li {
        padding-right: 0.5rem;
        list-style: none;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        a {
          vertical-align: middle;
        }
      }      
    }

    &-branding {
      float: left;
    }
    
    &-title-area-image {
      max-width: 2.75rem;
      max-height: 2.75rem;
      float: left;
      padding-left: 0;
      padding-right: 0.5rem;
    }

    &-title-area-title {
      @extend .navigation-title-area-title;
      text-transform: uppercase;
      font-size: 1.5rem;
      a {
        
      }
    }

    &-login {
      vertical-align: middle;
      padding-top: 0.75rem;
      font-weight: $light-text;
      font-size: 1rem;      
    }

  }

  &-issue-title {
    @extend .issue-title;
    font-size: 2rem;
    text-align: center;
  }
  &-issue-date {
    @extend .issue-date;
  }

  &-body {
    @extend .articles-article-teaser;
    font-size: 1.25rem;
    &-article {
      @extend .articles-article-teaser;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    &-meta {
      @extend .issue-contents-meta;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
    &-title {
      @extend .articles-article-title;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
    }
  }

  &-login {
      margin-top: 0rem;
      margin-bottom: 3rem;
      text-align: center;
      &-text {
        display: inline-block;
        text-align: center;
        font-weight: $light-text;
        font-size: 2rem;
        line-height: 3rem;
        font-style: italic;
        margin: 0;
        padding: 0;
        vertical-align: middle;
      }
  }

  &-hero {
    display: inline-block;
    td {
      padding-bottom: 0 !important;
    }
  }
  &-article {
    @extend .mail-hero;
    &-title {
      @extend .mail-body-title;
      font-size: 1.5rem;
    }
    &-meta {
      @extend .mail-body-meta;
      font-size: 1rem;
      margin-top: 0.25rem;
    }
    &-body {
      @extend .mail-body-article;
      font-size: 1rem;
    }
  }

}